[Desktop Entry]
Type=Application
Name=Helwan Memory Game
Comment=A spicy memory match game built for Helwan Linux
Exec=python3 /usr/share/helwan-games/memory/Memory.py
Icon=hel-memory
Categories=Game;LogicGame;
Terminal=false
