[Desktop Entry]
Type=Application
Name=Helwan Memory
Comment=Ultimate memory game for Helwan Linux
Exec=hel-memory
Icon=hel-memory
Terminal=false
Categories=Game;LogicGame;
